tr,
td,
h1,
h3,
p {
    cursor: default;
}

.logo {
    background: url("../public/logo-aham-color.svg") no-repeat center white;
    width: 100%;
    margin: auto;
}

.save {
    width: 80px;
    margin-top: 30px;
}

.dropdown div {
    display: flex;
    justify-content: space-between;
}

/* table */
.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #ebebeb;
}

/* card */
.card {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    max-width: 90%;
    margin: 0 auto;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-label {
    display: block;
    margin-bottom: 10px;
}

.card-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 20px;
}

.card-actions {
    margin-top: 20px;
    gap: 20%;
    display: flex;
    margin: auto;
}

.card-actions button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card-actions button:hover {
    background-color: #0056b3;
}

.cardDiv label {
    width: 50%;
}

.button {
    min-width: 50px;
    cursor: pointer;
}